@tailwind base;

/* styles.css */

@keyframes rotate {
  0% {
    transform: translate(-595px, 0px);
  }
  20% {
    transform: translate(133px, 0px);
  }
  35% {
    transform: translate(333px, -70px);
  }
  50% {
    transform: translate(133px, -133px);
  }
  70% {
    transform: translate(-595px, -133px);
  }
  85% {
    transform: translate(-795px, -70px);
  }
  100% {
    transform: translate(-595px, 0px);
  }
}

@layer base {
  
  body {
    @apply bg-background text-foreground;
  }
}

@keyframes zoom {
  0%,
  100% {
    transform: scale(1) scaleY(1);
  }
  50% {
    transform: scale(1.1) scaleY(1.1);
  }
}

.overlay {
  transition: opacity 0.5s ease;
}

.animate-zoom {
  animation: zoom 2s infinite;
}
